@import 'sections/common.css';
@import 'sections/hero.css';
@import 'sections/projects.css';
@import 'sections/skills.css';
@import 'sections/education.css';
@import 'sections/certifications.css';
@import 'sections/research.css';
@import 'sections/blog.css';
@import 'sections/newswire.css';